*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*NAV*/

nav {
    background-color: #2C3E50;
    width: 100%;
    padding: 20px 20px 15px 20px;
    color: #fff;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav-right-mobile>button:hover i {
    color: #2C3E50;
}

.nav-item a {
    color: #fff;
}

.nav-item:hover a {
    color: #2C3E50;
    background-color: #fff;
}

.nav-item:active a {
    color: #fff;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-right-mobile, .nav-right {
    text-align: right;
    color: #fff;
}

.nav-right {
    display: none;
}

/*HEADER*/

header {
    background-color: #1ABC9C;
    width: 100%;
    padding: 100px 30px 30px 30px;
    color: #fff;
}

#header-content {
    width: 100%;
    text-align: center;
}

header img {
    height: 300px;
    margin-bottom: 15px;
}

.star-divider  {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20pt;
    margin-bottom: 15px;
} 

.white-hr {
    border: none;
    height: 3px;
    background-color: #fff;
    opacity: 1;
    width: 75px;
    margin: 10px;
} 

.blue-hr {
    border: none;
    height: 3px;
    background-color: #2C3E50;
    opacity: 1;
    width: 75px;
    margin: 10px;
} 

/*MAIN*/

section {
    color: #2C3E50;
    width: 100%;
    padding: 30px 5px;
}

section:nth-child(2) {
    background-color: #1ABC9C;
    color: #fff;
}

#portfolio-content {
    width: 100%;
    text-align: center;
}

#portfolio .card {
    text-align: center;
}

.portfolio-rounded {
    border-radius: 10px;
    height: 350px;
}

#about {
    padding: 50px 10%;
    width: 100%;

}

#about-content {
    width: 100%;
    text-align: center;
}

#about button {
    margin-top: 50px;
}

#about button:hover {
    color: #1ABC9C;
}

.button-container {
    text-align: center;
    width: 100%;
}

#contact {
    width: 100%;
    padding: 50px 10%;
}

#contact-content {
    width: 100%;
    text-align: center;
}

#contact-btn-container {
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

#contact button {
    background-color:#1ABC9C;
    color: #fff;
    border: #1ABC9C 1px solid;
}

#contact button:hover {
    background-color:#fff;
    color: #1ABC9C;
    border: #1ABC9C 1px solid;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 80%;
    margin: 0 auto 10px auto;
}

form input, textarea {
    width: 100%;
    margin-bottom: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid lightgrey;
}

/*FOOTER*/

footer {
    background-color: #2C3E50;
    width: 100%;
    color: #fff;
}

#footer-top {
    width: 100%;
    padding: 50px;
    text-align: center;
    background-color: #3A546D;
}

#footer-content {
    width: 100%;
    text-align: center;
}

#footer-col-content {
    margin: 20px auto;
    line-height: 35px;
}

#footer-col-content a {
    color: #fff;
    border: 1px solid #fff;
    margin: 5px;
    border-radius: 50%;
    transition: 0.2s;
}

#footer-col-content a:hover {
    background-color: #fff;
    border: 1px solid #fff;
    color: #3A546D;
}

#facebook {
    padding: 10px 15px;
}

#google {
    padding: 10px;
}

#twitter {
    padding: 10px 12px;
}

#linkedin {
    padding: 10px 13px;
}

#footer-link {
    color: #1ABC9C;
    text-decoration: none;
}

#footer-link:hover {
    text-decoration: underline;
}

#footer-bottom {
    width: 100%;
    padding: 50px;
    text-align: center;
    font-size: 10pt;
}

@media screen and (min-width: 768px) {

    .nav-right-mobile {
        display: none;
    }
    
    .nav-right {
        display: block;
    }

    section {
        padding: 30px 10%;
    }

    .portfolio-rounded {
        height: 250px;
    }

    #footer-col-content {
        margin: 0;
    }

    #footer-col-content a {
        margin: 2px;
    }
}

@media screen and (min-width: 992px) {
    section {
        padding: 0 15%;
    }

    section:first-child {
        padding: 50px 10%;
    }

    .portfolio-rounded {
        height: 250px;
    }

    nav {
        padding-left: 10%;
        padding-right: 10%;
    }

    #footer-top {
        padding: 50px 10%;
    }

}
